[Desktop Entry]
Name=Vanadis Bord
Comment=Desktop AI chat application
Exec=$HOME/.local/share/vanadis-bord/vanadis-bord
Icon=vanadis-bord
Terminal=false
Type=Application
Categories=Development;Utility;
StartupWMClass=vanadis-bord
